@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.app {
  height:100vh;
  background-color: #cccccc;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
.app__body{
  height: 100vh;
  background-color: #cccccc;
}
